<!DOCTYPE html>
<html lang="en" ng-app="SpaceApp" ><head>
    
   <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Airie</title>
    

    <!-- Bootstrap Core CSS -->
    <link href="client/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="client/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="client/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="style/recommend.css">
    <link rel="stylesheet" href="style/profile.css">
        

    <!-- Custom CSS -->
    <link href="client/css/stylish-portfolio.css" rel="stylesheet">
    <link rel="import" href="bower_components/google-map/google-map.html">
    <link rel="import" href="bower_components/google-map/google-map-marker.html">
   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>

    <script src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="node_modules/n3-charts/build/LineChart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.22/webcomponents-lite.min.js"></script>

    <script src="client/app.js"></script>
    <script src="client/config.js"></script>
    <script src="client/map/map.controller.js"></script> 
    <script src="client/recommend/recommend.controller.js"></script> 
    <script src="client/history/history.controller.js"></script> 
    <script src="client/forecast/forecast.controller.js"></script> 
    <script src="index.controller.js"></script> 

    
  
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>

</head>
  <body>
    <div class="container" ng-controller="IndexController as model">
    <div class="row">
              <div class = "useroptions" ng-class="model.sideBarToggleClass" ng-show="model.toggleShow">
                <div class="sidebar-nav">
                  <ul>
                  <li><button type="button" class="btn btn-primary" ng-click="model.go('/map')">Home</button></li>
                  <li><button type="button" class="btn btn-primary" ng-click="model.go('/forecast')">Forecast</button></li>
                  <li><button type="button" class="btn btn-primary" ng-click="model.go('/sick')">Feeling Sick?</button></li>
                  <li><button type="button" class="btn btn-primary" ng-click="model.go('/recommend')">Information</button></li>
                  <li><button type="button" class="btn btn-primary" ng-click="model.go('/sick')">Report</button></li>
                  <li><button type="button" class="btn btn-primary" ng-click="model.go('/sick')">My Subcriptions</button></li>
                  <li><button type="button" class="btn btn-primary" ng-click="model.go('/profile')">My Profile</button></li>
                </ul>
              </div>
            </div>
       <div ng-class="model.mainToggleClass">

      
        <div class="row">
        <div class= "col-xs-2">
            <p>
                <button type="button" class="btn btn-primary" ng-click="model.toggle()">
                       Menu
                </button>
            </p>
            </div>
            <div class="col-xs-8">
            <b style="font-style: italic; font-size: xx-large; color: white; text-align: center;" class="center">Airie</b>
            </div>
            <div class="col-xs-2">
                 <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search Location...">
          </form>
            </div>
         
            </div>
            <div class="container">      
            <div ng-view>
            </div>
            </div>

            
            
           
            </div>


                                
          </div>         
       </div>
    </body>
  </html>
