
.profile .item{
    display: block;
    marigin: 0 auto;
}

._md-list-item-inner .list-content-left{
  width: 20%;
  height: 100%;
  text-align: left;
  display: block;
	float: left;


}
._md-list-item-inner .list-content-right{
  width: 80%;	
  height: 100%;
  text-align: left;
  display: block;
	float: left;
}

._md-list-item-inner{
  display: block;
  width: 100%;
  height:300px;
}
