
.profile .item{
    display: block;
    marigin: 0 auto;
    text-align: center;
}

.profile .item .name{
    font: bold 50px arial, sans-serif;
}
.profile .item .age{
    font: bold 30px arial, sans-serif;
}
.profile .item .gender{
    font: bold 30px arial, sans-serif;
}
.profile .item .zip{
    font: bold 30px arial, sans-serif;
}

.profile .item .pic{
  width: 250px;
  height: 250px;
  border-radius: 250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
}

.profile .item .Logout{  
  width: 250px;
  height: 70px;
}

