

._md-list-item-inner .list-content-left{
  width: 30%;
  height: 100%;
  text-align: left;
  display: block;
	float: left;

}
._md-list-item-inner .list-content-right{
  width: 70%;	
  height: 100%;
  text-align: left;
  display: block;
	float: left;
}




._md-list-item-inner .pic{
  width: 30%;
  height: 100%;
  text-align: left;
  display: block;
  float: left;
  vertical-align: center;

}
._md-list-item-inner .desc{
  width: 70%;	
  height: 100%;
  text-align: left;
  display: block;
	float: left;
}

._md-list-item-inner{
  display: block;
  width: 100%;
  height:200px;
	border-style: solid;
}

.md-avatar{
  
}