<div ng-controller="MapController">
    <button type="button" class="btn btn-danger" ng-click="action()"> Click me!</button>
    <style>
        .google-map {
            height: 600px;
        }
    </style>
    <google-map latitude="37.78" longitude="-122.3942" zoom="15" ng-click="action()">

        <google-map-marker latitude="37.78" longitude="-122.3891"></google-map-marker>
        <google-map-marker latitude="37.778" longitude="-122.3892"></google-map-marker>
        <google-map-marker latitude="37.779" longitude="-122.3893"></google-map-marker>
        <google-map-marker latitude="37.779" longitude="-122.3894"></google-map-marker>
        <google-map-marker latitude="37.779" longitude="-122.3895"></google-map-marker>
        <google-map-marker latitude="37.779" longitude="-122.3896"></google-map-marker>
        <google-map-marker latitude="37.779" longitude="-122.3897"></google-map-marker>
        <google-map-marker latitude="37.779" longitude="-122.3898"></google-map-marker>
        <google-map-marker latitude="37.779" longitude="-122.3899"></google-map-marker>

    </google-map>
</div>