<div ng-controller="MapForCOController">



    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="map.showHeat" onCreated="map.heatLayerCallback"></ui-gmap-layer>
    </ui-gmap-google-map>




    <div class="mapOption">

    <button type="button" class="btn btn-primary" ng-click="chose0()">Refresh</button>
    <button type="button" class="btn btn-primary" ng-click="chose1()">Able</button>
    <button type="button" class="btn btn-primary" ng-click="chose2()">Disable</button>
    <button type="button" class="btn btn-primary" ng-click="chose3()">CH4 Map</button>
    <button type="button" class="btn btn-primary" ng-click="chose4()">Pollun Map</button>

<!--         <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="options" id="option1" autocomplete="off" ng-click="chose1()" checked> Temperature
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2" autocomplete="off" ng-click="chose2()" > Pollute
          </label>

        </div> -->


<!-- 

        <div class="btn-group">
            <label class="btn btn-success" btn-radio="'bill'" ng-change="chose1()" ng-model="newItemType">
                Insert New Bill <span class="glyphicon glyphicon-file"></span>
            </label>
            <label class="btn btn-success" btn-radio="'coin'" ng-change="chose2()" ng-model="newItemType">
                Insert New Coin <span class="glyphicon glyphicon-adjust"></span>
            </label>
        </div>
 -->
<!-- 
        <button type="button" class="btn btn-primary btn-lg disabled" onClick="chose1()" id="mapButton1">Temperature</button>
        <button type="button" class="btn btn-primary btn-lg disabled" onClick="chose2()" id="mapButton2">Pollute</button>
 -->

    </div>

</div>