<div ng-controller="RecommendController">
<!--
   <button type="button" class="btn btn-danger" ng-click="action()"> Action</button>
   -->
    <md-content>
        <md-list>
            <md-item ng-repeat="item in items">
                <md-item-content>
                    <button class="_md-no-style md-button md-ink-ripple" type="button" ng-transclude>
                        <div class="_md-list-item-inner">
                            <img ng-src="{{item.img}}" class="md-avatar" >
                            <div class="md-list-item-text layout-column">
                                <h3 class="ng-binding">{{item.name}}</h3>
                                <h4 class="ng-binding">{{item.price}}</h4>
                                <p class="ng-binding">{{item.desc}}</p>
                                <!--
                                <p>{{item.link}}</p>
                                -->
                            </div>
                        </div>
                    </button>
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>
</div>