  <div class="content" style="margin-top: 5%; text-align:center;">
             
               <div class="second-nav1">
       <ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#/remedies">Home Remedies</a></li>
  <li class="active"><a href="#/recommend">Top purchases</a></li>
  <li><a href="#/medical">Medical help</a></li>
  
</ul>
<div ng-controller="RecommendController">
<!--
   <button type="button" class="btn btn-danger" ng-click="action()"> Action</button>
   -->

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
   <div class="titleForRec"><h2>Top Purchases</h2></div>
    <md-content>
        <md-list>
            <md-item ng-repeat="item in items">
                <md-item-content class="_md-list-item-inner">
                    <!-- <button class="_md-no-style md-button md-ink-ripple" type="button" ng-transclude> -->
                        <!-- <div class="_md-list-item-inner"> -->
                            <!-- <div class="list-content-left"> -->
                                <a href="{{item.link}}}" class="pic">
                                    <img ng-src="{{item.img}}" class="md-avatar" >
                                </a>
                            <!-- </div> -->
                            <!-- <div class="list-content-right"> -->
                                <div class="md-list-item-text layout-column desc">
                                    <h3 class="ng-binding">{{item.name}}</h3>
                                    <h4 class="ng-binding">{{item.price}}</h4>
                                    <p class="ng-binding">{{item.desc}}</p>
                                    <!--
                                    <p>{{item.link}}</p>
                                    -->
                                </div>
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </button> -->
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>

</div>
     </div> 
              
          </div>
          </div>

