<div ng-controller="RecommendController">
<!--
   <button type="button" class="btn btn-danger" ng-click="action()"> Action</button>
   -->
   <div class="titleForRec"><h3>Top Purchase</h3></div>
    <md-content>
        <md-list>
            <md-item ng-repeat="item in items">
                <md-item-content class="_md-list-item-inner">
                    <!-- <button class="_md-no-style md-button md-ink-ripple" type="button" ng-transclude> -->
                        <!-- <div class="_md-list-item-inner"> -->
                            <!-- <div class="list-content-left"> -->
                                <a href="{{item.link}}}" class="pic">
                                    <img ng-src="{{item.img}}" class="md-avatar" >
                                </a>
                            <!-- </div> -->
                            <!-- <div class="list-content-right"> -->
                                <div class="md-list-item-text layout-column desc">
                                    <h3 class="ng-binding">{{item.name}}</h3>
                                    <h4 class="ng-binding">{{item.price}}</h4>
                                    <p class="ng-binding">{{item.desc}}</p>
                                    <!--
                                    <p>{{item.link}}</p>
                                    -->
                                </div>
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </button> -->
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>
</div>